@tailwind base;
@tailwind components;
@tailwind utilities;

.bg_primary {
  background-color: #3c4cad;
}
.color_primary {
  color: #3c4cad;
}
.bg_secondary {
  background-color: #f9c449;
}
.bg_tags {
  background-color: #e8a49c;
}

* {
  font-family: "Didact Gothic", sans-serif;
}

.primary_font {
  font-family: "Pacifico", cursive;
}
